logging:
    level:
        org:
            springframework:
                test:
                    context:
                        cache: DEBUG

addressClient:
  api:
    basePath: "http://localhost:8080"
